name: Test with qiime2-dev

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        os:
            - image: "ubuntu-latest"
              short: "ubuntu"
            - image: "macos-13"
              short: "macos"
    runs-on: "${{matrix.os.image}}"

    steps:
    - uses: actions/checkout@v6
    - name: Setup conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
    - shell: bash -l {0}
      run: |
        conda info
        conda list
    - name: Install Qiime 2
      shell: bash -l {0}
      run: |
        wget https://raw.githubusercontent.com/qiime2/distributions/refs/heads/dev/latest/passed/qiime2-tiny-${{matrix.os.short}}-latest-conda.yml
        conda env create -n qiime2-dev --file qiime2-tiny-${{matrix.os.short}}-latest-conda.yml
        rm qiime2-tiny-${{matrix.os.short}}-latest-conda.yml
    - name: Install q2-micom
      shell: bash -l {0}
      run: |
        conda activate qiime2-dev
        conda env update -n qiime2-dev -f q2-micom.yml
        pip install -e .
    - name: Install CPLEX
      shell: bash -l {0}
      run: |
        conda activate qiime2-dev
        conda install -y -c ibmdecisionoptimization cplex
    - name: Lint with black
      shell: bash -l {0}
      run: |
        conda activate qiime2-dev
        pip install black
        black --check --diff ./q2_micom
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        conda activate qiime2-dev
        pip install pytest pytest-benchmark pytest-cov
        pytest --benchmark-skip --cov=q2_micom --cov-report=xml
